@using CrarftedFood.Extentions
@using Data.DTOs
@model CrarftedFood.Models.OrderViewModel

@{
    ViewBag.Title = "Index";
}

<style>
    #table-orders th a {
        text-align: center !important;
    }

    #table-orders th {
        width: 25%;
    }
</style>
<table id="table-orders" class="table text-center">
    <thead>

        <tr>
            <th>
                @*@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })*@
                <a id="mealTitle" href=#>Meal Title</a>
            </th>
            <th>
                <a id="quantity" href=#>Quantity</a>
            </th>
            <th>
                <a id="price" href=#>Price</a>
            </th>
            <th>
                <a id="note" href=#>Note</a>
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody id="order-tbody">
    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MealTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a class="mdl-navigation__link delete-event" data-id="@Html.DisplayFor(m => item.OrderId)"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i></a>
            </td>
        </tr>
    }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    var mealTitleSortUp = false;
    var quantitySortUp = false;
    var priceSortUp = false;
    var noteSortUp = false;
    $(".delete-event").click(function() {
        var id = this.dataset.id;
        var url = "@Url.Action("CancelOrder","Order")" + "?orderId=" + id;

        $.post(url, function (data) {
            if (data.success === true) {
                var tbody = document.createElement("tbody");

                $.each(data.message.Data, function (key, value) {
                    var tr = document.createElement("tr");
                    var str = "<td>" + value.MealTitle + "</td>";
                    str += "<td>" + value.Quantity + "</td>";
                    str += "<td>" + value.Price + "</td>";
                    str += "<td>" + value.Note + "</td>";
                    tr.innerHTML = str;
                    if (tbody.childElementCount === 0) {
                        tbody.appendChild(tr);
                    } else if (mealTitleSortUp) {
                        tbody.insertBefore(tr, tbody.firstChild);
                    } else {
                        tbody.appendChild(tr);
                    }
                });
                mealTitleSortUp = !mealTitleSortUp;
                document.getElementById('order-tbody').innerHTML = tbody.innerHTML;
            }
        });
    });
    $("#mealTitle").click(function() {
        var url = "@Url.Action("GetOrders","Order", new { orderType = "mealTitle" })";
        $.post(url, function (data) {
            if (data.success === true) {
                var tbody = document.createElement("tbody");

                $.each(data.message.Data, function (key, value) {
                    var tr = document.createElement("tr");
                    var str = "<td>" + value.MealTitle + "</td>";
                    str += "<td>" + value.Quantity + "</td>";
                    str += "<td>" + value.Price + "</td>";
                    str += "<td>" + value.Note + "</td>";
                    tr.innerHTML = str;
                    if (tbody.childElementCount === 0) {
                        tbody.appendChild(tr);
                    } else if (mealTitleSortUp) {
                        tbody.insertBefore(tr, tbody.firstChild);
                    } else {
                        tbody.appendChild(tr);
                    }
                });
                mealTitleSortUp = !mealTitleSortUp;
                document.getElementById('order-tbody').innerHTML = tbody.innerHTML;
            }
        });
    });
    $("#quantity").click(function () {
        var url = '@Url.Action("GetOrders","Order", new { orderType= "quantity" })';

        $.post(url, function (data) {
            if (data.success === true) {
                var tbody = document.createElement("tbody");

                $.each(data.message.Data, function(key, value) {
                    var tr = document.createElement("tr");
                    var str = "<td>" + value.MealTitle + "</td>";
                    str += "<td>" + value.Quantity + "</td>";
                    str += "<td>" + value.Price + "</td>";
                    str += "<td>" + value.Note + "</td>";
                    tr.innerHTML = str;
                    if (tbody.childElementCount === 0) {
                        tbody.appendChild(tr);
                    } else if (quantitySortUp) {
                        tbody.insertBefore(tr, tbody.firstChild);
                    } else {
                        tbody.appendChild(tr);
                    }
                });
                quantitySortUp = !quantitySortUp;
                document.getElementById('order-tbody').innerHTML = tbody.innerHTML;
            }
        });
    });
    $("#price").click(function () {
        var url = '@Url.Action("GetOrders","Order", new { orderType = "price" })';
        $.post(url, function (data) {
            if (data.success === true) {
                var tbody = document.createElement("tbody");

                $.each(data.message.Data, function (key, value) {
                    var tr = document.createElement("tr");
                    var str = "<td>" + value.MealTitle + "</td>";
                    str += "<td>" + value.Quantity + "</td>";
                    str += "<td>" + value.Price + "</td>";
                    str += "<td>" + value.Note + "</td>";
                    tr.innerHTML = str;
                    if (tbody.childElementCount === 0) {
                        tbody.appendChild(tr);
                    } else if (priceSortUp) {
                        tbody.insertBefore(tr, tbody.firstChild);
                    } else {
                        tbody.appendChild(tr);
                    }
                });
                priceSortUp = !priceSortUp;
                document.getElementById('order-tbody').innerHTML = tbody.innerHTML;
            }
        });
    });
    $("#note").click(function () {
        var url = '@Url.Action("GetOrders","Order", new { orderType = "note" })';
        $.post(url, function (data) {
            if (data.success === true) {
                var tbody = document.createElement("tbody");

                $.each(data.message.Data, function (key, value) {
                    var tr = document.createElement("tr");
                    var str = "<td>" + value.MealTitle + "</td>";
                    str += "<td>" + value.Quantity + "</td>";
                    str += "<td>" + value.Price + "</td>";
                    str += "<td>" + value.Note + "</td>";
                    tr.innerHTML = str;
                    if (tbody.childElementCount === 0) {
                        tbody.appendChild(tr);
                    } else if (noteSortUp) {
                        tbody.insertBefore(tr, tbody.firstChild);
                    } else {
                        tbody.appendChild(tr);
                    }
                });
                noteSortUp = !noteSortUp;
                document.getElementById('order-tbody').innerHTML = tbody.innerHTML;
            }
        });
    });
</script>
