@using CrarftedFood.Extentions
@model CrarftedFood.Models.EmployeesViewModel

@{
    ViewBag.Title = "Index";
}

<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
    <main class="mdl-layout__content">
        <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
            <main class="mdl-layout__content">
                <div class="member-list-search-add mdl-grid">
                    <div class="mdl-cell mdl-cell--5-col">
                        <div class="form-group">
                            <i class="members-search-icon material-icons">search</i>
                            <div class="members-search-bar-div col-md-10">
                                <input class="form-control" type="text" id="searchMembersText">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col"></div>
                    <div class="mdl-cell mdl-cell--1-col">
                        @if (UserSession.GetUser().RoleId == (int)Data.Enums.Roles.Admin)
                        {
                            <a class="add-meal-btn mdl-button mdl-js-button mdl-button--fab" href="@Url.Action("AddEmployee")">
                                <i class="material-icons">add</i>
                            </a>
                        }
                    </div>
                </div>

                <div id="members" class="member-list mdl-grid">
                    @foreach (var m in Model.list)
                    {
                        <div class="mdl-card mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp" data-member-id="@m.Id">
                            <figure class="mdl-card__media">
                                @{
                                    var imgSrc = $"http://i.imgur.com/Xqdt97P.png";
                                    
                                }
                                <a href="@Url.Action("Profiles", "Employee", new { id = m.Id })"><img class="member-list-avatar" src="@imgSrc" alt="" /></a>
                            </figure>
                            <div class="mdl-card__title">
                                <h1 class="member-list-title mdl-card__title-text">
                                    @Html.DisplayName(m.Name)
                                    <text>(</text>@m.Role.ToDescription()<text>)</text>
                                </h1>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <h6>@m.Email</h6>
                                <p>@(m.Mobile ?? "N/A")</p>
                            </div>
                        </div>
                                        }
                </div>

            </main>
        </div>
    </main>
</div>

