@using Data
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="icon" href="../../RESOURCES/favicon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/menu.css">
    <link rel="stylesheet" href="~/css/employees.css">
    <link rel="stylesheet" href="~/css/datepicker.css">

    <style>
        #password-change-footer {
            text-align: left;
        }

        #change-password-modal-content {
            width: 85%;
        }

        .expand-input {
            min-width: 95%;
        }
    </style>

</head>

@{
    Data.DTOs.LoginDto user = UserSession.GetUser();
}
<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">@ViewContext.RouteData.Values["controller"].ToString()</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>


        <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">
                <a href=#>Crafted food</a>
                <div class="demo-avatar-dropdown">
                    <span>@user.Name</span>
                    <div class="mdl-layout-spacer"></div>
                </div>
            </header>
            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link" href="@Url.Action("Index", "Menu")"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_dinings</i>Menu</a>
                @if (!UserSession.IfClient())
                {
                    <a class="mdl-navigation__link" href="@Url.Action("Index", "Reports")"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assignment</i>Reports</a>
                }
                @if (UserSession.IfClient())
                {
                    <a class="mdl-navigation__link" href="@Url.Action("Index", "Order")"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">done</i>My Orders</a>
                }
              
                
                <a class="mdl-navigation__link" href="@Url.Action("Profile", "Employees", new {id= UserSession.GetUser().EmployeeId})"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person</i>Profile</a>
                
                @if (UserSession.IfAdmin())
                {
                    <a class="mdl-navigation__link" href="@Url.Action("Index", "Employees")"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Employees</a>

                }
                <div class="mdl-layout-spacer"></div>
                <a class="mdl-navigation__link" href="#" data-toggle="modal" data-target="#change-password-modal">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>Change password
                </a>
                <a class="mdl-navigation__link" href="@Url.Action("Logout", "Login")"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">vpn_key</i>Logout</a>
            </nav>
        </div>
        <!-- Modal Change password-->
        <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="change-password-modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Change password</h4>
                    </div>
                    @*<form action="@Url.Action("ChangePassword","Employees")" method="post" onsubmit="checkOldPass()">*@

                    <div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="old-password" class="control-label">Old password:</label>
                                <input type="password" class="form-control expand-input" id="old-password" required name="oldPassowrd">
                            </div>
                            <div class="form-group">
                                <label for="new-password" class="control-label">New password:</label>
                                <input type="password" name="password" class="form-control expand-input" id="new-password" required>
                                <input type="hidden" name="id" value="@UserSession.GetUser().EmployeeId" />
                            </div>
                        </div>
                        <div class="modal-footer" id="password-change-footer">
                            <button type="button" class="btn btn-primary" onclick="checkOldPass()">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="button-close-modal-reset-password">Close</button>
                        </div>
                    </div>

                    @*</form>*@
                </div>
            </div>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">
            @RenderBody()
        </main>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script>
        var oldPass = document.getElementById("old-password");
        var newPass = document.getElementById("new-password");
        function eventFire(el, etype) {
            if (el.fireEvent) {
                el.fireEvent('on' + etype);
            } else {
                var evObj = document.createEvent('Events');
                evObj.initEvent(etype, true, false);
                el.dispatchEvent(evObj);
            }
        }
        var checkOldPass = function () {
            if (oldPass.value === "" || newPass.value === "") return;
            var url = '@Url.Action("ChangePassword","Employees")' + '?id=' + '@UserSession.GetUser().EmployeeId' + '&password=' + newPass.value + '&oldPassowrd=' + oldPass.value;

            $.post(url, function (data) {
                if (data.success) {
                    eventFire(document.getElementById('button-close-modal-reset-password'), 'click');
                } else {
                    alert("Potrebno je uneti valjanu sifru");
                }
            });
        }
    </script>
</body>
</html>
