@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="icon" href="../../RESOURCES/favicon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">

    <link rel="stylesheet" href="~/css/login.css">


</head>
<body>
    @using (Html.BeginForm())
    {
        <div id="wrapper">
            <div id="form-wrapper" class="table mdl-data-table mdl-shadow--2dp">
                <div class="logo"></div>
                <form class="form-signin col-md-4 col-sm-4">
                    <h2 class="form-signin-heading">Sign in</h2>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" name="Email" class="form-control expand-input" placeholder="Email address" required="" autofocus="" value="@(ViewBag.recoveredEmail ?? "")">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" name="Password" class="form-control expand-input" placeholder="Password" required="">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="RememberMe" value="remember-me"> Remember me
                        </label>

                        <a id="forgot-account" class="text-center text-info">Forgot password</a>




                    </div>
                    <button id="submit" class="btn btn-lg btn-primary btn-block form-control" type="submit">Sign in</button>
                </form>
            </div>
            <div class="background"></div>
        </div>
    }
    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script>
        $(document).ready(function ($) {

            forgot = true;

            document.getElementById('forgot-account').onclick = function () {

                if (!forgot) {
                    var email = document.getElementById("inputEmail").value;
                    var uri = '@Url.Action("Index","Login")';
                    uri += "?" + "recoverdEmail=" + email;
                    window.location.href = uri;
                }

                this.innerHTML = 'Return';
                forgot = false;

                $('#inputPassword, .checkbox label').addClass('hide');
                var btn = document.getElementById('submit');
                btn.innerHTML = 'recover';
                btn.href = "#!";

                btn.addEventListener("click", function () {
                    var email = document.getElementById("inputEmail").value;

                    $.ajax({
                        url: '@Url.Action("PasswordRecovery", "Employees")',
                        method: "POST",
                        data: {
                            email: email
                        },
                        success: function (result) {

                            var snackbarContainer = document.querySelector('#demo-toast-example');
                            if (result.success === true) {
                                snackbarContainer.MaterialSnackbar.showSnackbar({ message: 'Password changed' });

                                //go back to loginpage
                                setTimeout(function () {
                                    var uri = '@Url.Action("Index","Login")';
                                    uri += "?" + "recoverdEmail=" + email;
                                    window.location.href = uri;
                                }, 4000);
                            } else {
                                snackbarContainer.MaterialSnackbar.showSnackbar({ message: 'Email incorrect' });
                            }
                        }
                    });


                });
            }


        });


    </script>
</body>
</html>