@using CrarftedFood.Extentions
@using Data.DTOs
@model CrarftedFood.Models.MenuViewModel

@{
    ViewBag.Title = "Menu";
}

@{
    List<SelectListItem> categories = Data.Enums.Categories.bakery.CreateSelectListItem();
}

<div class="menu-wrapper" id="menu-wrapper">

    <div id="menu-options">
        <i class="material-icons">search</i>
        <input class="form-control" type="text" id="searchMealsText" placeholder="Search">
        <div class="col-md-10">
            <select id="category-filter" name="category" class="form-control" data-tooltip-text="Filter by category" data-tooltip-direction="bottom">

                <option value="-1">All categories</option>
                @foreach (var cat in categories)
                {
                    <option value="@cat.Value">@cat.Text</option>
                }
            </select>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="cards-view" value="option1" checked="">
                Cards view
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="table-view" value="option2">
                Table view
            </label>
        </div>
    </div>

    <div class="menu-content" id="menu-content">



        @foreach (MenuMealItem meal in Model.menu)
        {
            <div class="meal-wrapper show-search show-category">

                <div class="card radius shadowDepth1" data-id="@meal.MealId">

                    @Helper.Image(@meal.Image, "class", "card__image border-tlr-radius")

                    @if (UserSession.IfAdmin())
                    {
                        <a href="@Url.Action("EditMeal", "Menu", new {id = @meal.MealId})">
                            <button class="edit-btn mdl-button mdl-js-button mdl-button--fab">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </a>


                        <button class="delete-btn mdl-button mdl-js-button mdl-button--fab" data-toggle="modal" data-target="#delete-dialog">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    }
                  


                    <div class="card__content card__padding">
                        <span class="meal-id" hidden data-id="@meal.MealId">@meal.MealId</span>
                        @if (UserSession.IfClient())
                        {
                            <div class="card__share">
                                <div class="card__social">
                                </div>
                                <a class="share share-toggle share-icon" href="#"></a>
                            </div>
                        }
                       

                        <div class="card__meta">
                            <button id="@meal.MealId" class="mdl-js-button" @(UserSession.IfClient() ? "" : "disabled") >
                                <span class="rating">@(meal.Rating?.ToString() ?? "N/A")<i class="fa fa-star" aria-hidden="true"></i></span>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect rating-list"
                                for="@meal.MealId">
                                <li class="mdl-menu__item">1</li>
                                <li class="mdl-menu__item">2</li>
                                <li class="mdl-menu__item">3</li>
                                <li class="mdl-menu__item">4</li>
                                <li class="mdl-menu__item">5</li>
                            </ul>
                            
                            <span class="comments_button"><i class="fa fa-comments-o" aria-hidden="true"></i></span>


                        </div>



                        <article class="comments hide comments-universal">
                            <div>
                            </div>

                            @if (UserSession.IfClient())
                            {
                                <div class="add-comment-wrapper">
                                <div class="add-comment mdl-textfield mdl-js-textfield">
                                    <textarea class="mdl-textfield__input" type="text" id="menu-comment"></textarea>
                                    <label class="mdl-textfield__label" for="menu-comment">Add comment</label>
                                </div>

                                <button id="menu-comment-share"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </div>

                            }
                            



                        </article>

                        <article class="card__article">
                            <div>
                                <h2>
                                    <a href="#">@meal.Title</a>
                                </h2>
                                <span class="quantity">@meal.Quantity@meal.Unit.ToDescription()</span>
                            </div>

                            <p class="description short">@meal.Description</p>

                        </article>
                    </div>

                    <div class="card__action">

                        <div class="card__author">
                            <!--<img src="http://lorempixel.com/40/40/sports/" alt="user">-->
                            <div class="card__author-content">
                                <span class="mdl-chip">
                                    <span class="mdl-chip__text category">@meal.Category.ToDescription()</span>
                                </span>
                                <span>@meal.Price din</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        }

    </div>
    <div id="menu-content-table" class="hide"></div>


    <div id="order-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Order</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="btn btn-success order-confirm" data-dismiss="modal">Order</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="delete-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>

                <div class="modal-footer">
                    <a href="#" class="delete-confirm btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    @if (UserSession.GetUser().RoleId == (int) Data.Enums.Roles.Admin)
    {
        <a class="add-meal-btn mdl-button mdl-js-button mdl-button--fab" href="@Url.Action("AddMeal")">
            <i class="material-icons">add</i>
        </a>
    }

    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>


<script>

    var userName = "@UserSession.GetUser().Name";

    var url = {
        del: "@Url.Action("Delete", "Menu")",
        order: "@Url.Action("Order", "Menu")",
        rateMeal: "@Url.Action("RateMeal", "Menu")",
        commentMeal: "@Url.Action("CommentMeal", "Menu")",
        getComments: "@Url.Action("GetComments", "Menu")",
        tableView: "@Url.Action("TableView","Menu")",
        getTableView: "@Url.Action("GetTableView","Menu")",
    };
</script>

<script src="~/Scripts/menu.js"></script>
<script src="~/Scripts/Menu/tableView.js"></script>
<script src="~/Scripts/Menu/ordering.js"></script>
<script src="~/Scripts/Menu/commentsAndRating.js"></script>
<script src="~/Scripts/search.js"></script>
