
@{
    ViewBag.Title = "Reports";
}
<style>
    #report-date {
        min-width: 90%;
    }

    #find-pdf {
        display: inline-flex;
        margin-left: 10%;
    }
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
      /*padding: 0 16px !important;*/
    }
</style>
<div id="wrapper">
    <form class="col s12">

        <div id="radio-buttons-wrapper" class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="delivery">
                    <input type="radio" id="delivery" class="mdl-radio__button" name="report" value="true">
                    <span class="mdl-radio__label">Delivery</span>
                </label>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="order">
                    <input type="radio" id="order" class="mdl-radio__button" name="report" value="true">
                    <span class="mdl-radio__label">Order</span>
                </label>

            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="invoice">
                    <input type="radio" id="invoice" class="mdl-radio__button" name="report" value="true" checked>
                    <span class="mdl-radio__label">Invoice</span>
                </label>

            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <input id="report-date-from" class="datepicker date form-control" placeholder="Pick a date" required>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <input id="report-date-end"  class="datepicker date form-control" placeholder="Pick a date" required="" aria-required="true">
            </div>
            <div class="mdl-cell mdl-cell--1-col">
                <button id="find-pdf" class="btn btn-success" type="button" name="action">
                    Submit&nbsp;
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <iframe id="pdf-iframe" style="border: 1px solid #666CCC" title="PDF in an i-Frame"
            frameborder="1" scrolling="auto" height="1100" width="850">
    </iframe>
    @*<iframe id="pdf-iframe" style="border:1px solid #666CCC" title="PDF in an i-Frame" src="@Url.Action("Invoice","Reports")" frameborder="1" scrolling="auto" height="1100" width="850"></iframe>*@
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

<script>
    $('.datepicker').datepicker({
        minDate: new Date(2014, 1, 1, 1, 1, 1, 1, 1),
        autosize: true,
        firstDay: 1,
        prevText: ""
    });
</script>
<script>
    var datePickerFrom = document.getElementById("report-date-end");
    $('#delivery').click(function() {
        $("#report-date-end").fadeOut();
    });
    $('#order').click(function () {
        $("#report-date-end").fadeOut();
    });
    $('#invoice').click(function () {
        $("#report-date-end").fadeIn();
    });
    var reportFrom = document.getElementById("report-date-from");
    var reportEnd = document.getElementById("report-date-end");

    $("#find-pdf")
        .click(function() {
            var delivery = $('#delivery').is(':checked');
            var order = $('#order').is(':checked');
            var invoice = $('#invoice').is(':checked');

            var dateFrom = "";
            var startDay = "";
            var startMonth = "";
            var startYear = "";

            var dateEnd = "";
            var endDay = "";
            var endMonth = "";
            var endYear = "";

            var fileName = new Date().toISOString().slice(0, 10);
            var url = "";

            if (reportFrom.value !== "") {
                dateFrom = reportFrom.value.split("/");
                startDay = dateFrom[1];
                startMonth = dateFrom[0];
                startYear = dateFrom[2];

                if (delivery) {
                    fileName = 'delivery-' + fileName;

                    url = '@Url.Action("Delivery", "Reports")' +
                        '?fileName=' + fileName + 
                        '&startDay=' + startDay +
                        '&startMonth=' + startMonth +
                        '&startYear=' + startYear;

                } else if (order) {
                    fileName = 'order-' + fileName;

                    url = '@Url.Action("Orders", "Reports")' +
                        '?fileName=' + fileName +
                        '&startDay=' + startDay +
                        '&startMonth=' + startMonth +
                        '&startYear=' + startYear;
                }
            }
            if (reportEnd.value !== "") {
                dateEnd = reportEnd.value.split("/");
                endDay = dateEnd[1];
                endMonth = dateEnd[0];
                endYear = dateEnd[2];

                if (invoice && reportFrom.value !== "") {
                    fileName = 'invoice-' + fileName;

                    url = '@Url.Action("Invoice", "Reports")' +
                    '?fileName=' + fileName +
                    '&startDay=' + startDay +
                    '&startMonth=' + startMonth +
                    '&startYear=' + startYear +
                    '&endDay=' + endDay +
                    '&endMonth=' + endMonth +
                    '&endYear=' + endYear;
                }
            }
            if (reportFrom.value !== "") {
                $.post(url, function (data) {
                    var pdfFrame = document.getElementById("pdf-iframe");
                    pdfFrame.setAttribute("src", '@Url.Content("~/RESOURCES/")' + fileName + '.pdf');
                });

            }
        });
</script>




